.main{
    margin: 200px auto 280px;
    width: 380px;
    height: 300px;
    font-family: 'Microsoft Yahei';
    background: url("../../icon/retrieve_bg.png") no-repeat;
    position: relative;
    top: 0;
    left: 0;
}
.header{
    width: 100%;
    height: 50px;
}
.header div{
    float: left;
    width: 190px;
    height: 50px;
    line-height: 50px;
    font-size: 18px;
    text-align: center;
    color: #fff;
}
.header .phone{
    cursor: pointer;
    background: url("../../icon/phone_registered_active.png") no-repeat;
}
.header .mail{
    color: #b5b5b5;
    cursor: pointer;
    background: url("../../icon/mail_registered_inactive.png") no-repeat;
}
.content{
    width: 100%;
    height: 250px;
}
/* =================
    手机注册
==================== */
#phone-info{
    display: block;
}
.reg-interface div{
    margin-top: 30px;
    line-height: 28px;
}
.reg-interface div:first-child{
    margin-top: 40px;
}
.reg-interface div span{
    float: left;
    margin-left: 35px;
}
.reg-interface div input{
    width: 248px;
    height: 28px;
    float: right;
    margin-right: 35px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 13px;
    line-height: 28px\9;
    padding: 0 12px\9;
}
.reg-interface div .validate{
    width: 114px;
    margin-right: 13px;
}
.reg-interface div .validate-btn{
    float: right;
    width: 120px;
    height: 30px;
    line-height: 28px;
    margin: 0 35px 0 0;
    background: url("../../icon/validate_code.png");
    cursor: pointer;
}
.content .immediately{
    width: 310px;
    height: 42px;
    line-height: 42px;
    margin: 54px auto 30px;
    cursor: pointer;
    background: url("../../icon/register_btn.png") no-repeat;
    font-size: 18px;
    text-align: center;
    color: #fff;
}
/* =================
    手机注册 End
==================== */
/* =================
    邮箱注册
==================== */
#mail-info{
    display: none;
}
#mail-info div{
    margin-top: 60px;
}
#mail-info .immediately{
    margin: 64px auto 60px;
}
/* =================
    邮箱注册 End
==================== */
