/* == 自驾骑行 == */
.driving{
    margin-top: 60px;
}
.driving .header{
    width: 147px;
    height: 29px;
    background: url("/WebRoot/WEB-INF/views/portal/assets/icon/driving.png") no-repeat;
    margin: 0 0 15px 0;
}
.driving .driving-info{
    border-bottom: 1px dashed #b3b3b3;
}
.driving .driving-info img{
    float: left;
    margin-bottom: 18px;
}
.driving .driving-info ul{
    float: left;
    width: 570px;
    margin-left: 50px;
}
.driving .driving-info ul li{
    margin-top: 7px;
}
.driving .driving-info ul li:first-child{
    margin-top: 0;
}
.driving-left{
    float: left;
}
.driving-right{
    float: right;
    color: #898989;
}
.mt20{
    margin-top: 20px;
}
/* == 自驾骑行 End == */

/* == 攻略&游记 == */
.blogs{
    margin-top: 60px;
}
.blogs .header {
    width: 280px;
    height: 29px;
    background: url('../../icon/blogs.png') no-repeat;
}
.blogs .content{
    width: 840px;
    margin-top: 15px;
    font-size: 12px;
}
.blogs .content .media-heading{
    margin-bottom: 15px;
}
.blogs .content .user-info{
    margin-bottom: 24px;
}
.blogs .content .user-info li{
    display: inline-block;
}
.blogs .content .user-info li img,
.blogs .content .user-info li span{
    vertical-align: middle;
}
.blogs .content .user-info li label{
    vertical-align: middle;
}
.blogs .data{
    color: #898989;
}
.blogs .content .user-info li span{
    color: #068223;
}
.blogs .content .media{
    border-bottom: 1px dashed #b3b3b3;
}
.blogs .content p{
    width: 680px;
    margin-bottom: 20px;
}
.blogs .content .media-right{
    position: relative;
    left: 70px;
}
.blogs .media-mt18{
    margin-top: 18px;
}
/* == 攻略&游记 End == */

/* == 出行搭伴 == */
.partner .header{
    background: url("../../icon/partner.png") no-repeat;
}
/* == 出行搭伴 End == */

/* == 公益活动 == */
.commonweal .header{
    width: auto;
    height: auto;
    background: url("../../icon/line.png") repeat-x center;
}
.commonweal .header div{
    width: 265px;
    height: 29px;
    float: left;
    background: #fff url("../../icon/commonweal.png") no-repeat;
}
.commonweal .header a{
    width: 80px;
    height: 29px;
    line-height: 29px;
    text-align: right;
    float: right;
    background-color: #fff;
}
/* == 公益活动 End == */