<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="author" content="quansenx">
	<meta name="keywords" content="西藏旅游，西藏自驾游，藏民，西藏线路，西藏自助游路线，西藏景点，西藏天气，西藏交通，西藏，西藏旅游攻略，西藏旅游最佳时间，西藏旅游最好季节，去西藏" />
	<meta name="description" content=" 天上西藏网站为您提供全面了解屹立在雪山之巅西藏的信息资讯，包括天上西藏景区景点推荐，最佳的西藏观光时间，最地道的西藏特色叙述，最淳朴的西藏人民，天上西藏最全面的信息介绍，欢迎您前来体验雪域西藏的风采！" />
	<title>天上西藏-感受西藏魅力，体验西藏生活-天上西藏官网</title>
	<link rel="stylesheet" href="../assets/css/tourism/destination.css"/>
	<!--[if lt IE 9]>
	<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
	<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->
</head>

	<body ms-controller="indexView">
		<!-- header -->
		<div id="header" ms-include-src="'header/index.html'"></div>
		<!-- banner -->
		<div id="banner" ms-include-src="'banner/des_banner.html'"></div>
		<!-- content -->
		<div id="content">
			<div class="container">
				<div class="row">
					<div class="col-xs-9">
						<div class="introduction">
							<div class="header clearfix">
								<div class="title"></div>
								<div class="shar">
									<a class="weibo" href="#"></a>
									<a class="sina" href="#"></a>
									<a class="qzone" href="#"></a>
								</div>
							</div>
							<div class="content">
								<p>
									拉萨是中国西藏自治区的首府，西藏的政治、经济、文化和宗教中心，也是藏传佛教圣地。拉萨位于西藏高原的中部、喜马拉雅山脉北侧，海拔3650米，地处雅鲁藏布江支流拉萨河中游河谷平原，拉萨河流经此，在南郊注入雅鲁藏布江。
									<br /><br />
									拉萨全年多晴朗天气，降雨稀少，冬无严寒，夏无酷暑，气候宜人。全年日照时间在3000小时以上，素有“日光城”的美誉。拉萨境内蕴藏着丰富的各类资源，相对于全国和自治区其他地市，具有较明显的资源优势。
									<br /><br />
									作为首批中国历史文化名城，拉萨以风光秀丽、历史悠久、风俗民情独特、宗教色彩浓厚而闻名于世，先后荣获中国优秀旅游城市、欧洲游客最喜爱的旅游城市、全国文明城市、中国特色魅力城市、中国最具安全感城市等荣誉称号
									<br /><br />
									拉萨市地处喜马拉雅山脉北侧，受下沉气流的影响，全年多晴朗天气，降雨稀少，冬无严寒，夏无酷暑，属高原温带半干旱季风气候。历史最高气温29.6摄氏度，最低气温零下16.5摄氏度，年平均气温7.4摄氏度。降雨量集中在6、7、8、9月份全年日照时间3000小时以上，素有“日光城”的美誉。
								</p>
							</div>
						</div>
					</div>
					<div class="col-xs-3">
						<div class="air-ticket">
							<div class="air-header">
								<img src="../assets/icon/aircraft.png" alt="" />
								<h5>机票搜索<br/>TICKET SEARCH</h5>
								<a href="#"><span>更多 MORE</span><img src="../assets/icon/more_white.png" alt=""/></a>
							</div>
							<div class="colour-bar"></div>
							<div class="air-content">
								<div>
									<label>出发日期</label>
									<input type="text" value="2014-11-20" />
								</div>
								<div>
									<label>出发城市</label>
									<input type="text" value="成都市" />
								</div>
								<div>
									<label>到达城市</label>
									<input type="text" value="拉萨市" />
								</div>
								<div>
									<label>特　　价</label><span class="bargain-price">650</span><span class="price-unit">元起</span>
								</div>
								<button></button>
							</div>
						</div>
					</div>
				</div>

				<div id="tourist" ms-include-src="'tourism/tourist.html'"></div>

				<div class="row">
					<div class="col-xs-9">
						<div class="journey">
							<div class="header">
								<div class="left"></div>
								<div class="right"><a href="#">更多MORE</a></div>
							</div>
							<div class="journey-img clearfix">
								<div class="img-left float-left">
									<img src="../static/images/destination_tour_img.png" alt=""/>
									<div class="info">
										<p>2014西藏阿里大环线自驾游全攻略</p>
										<div>
											<img src="../assets/icon/eye_white.png" alt=""/><span>1921874</span>
											<img src="../assets/icon/star_white.png" alt=""/><span>82397</span>
										</div>
									</div>
								</div>
								<div class="img-right float-right">
									<img src="../static/images/destination_tour_img2.png" alt=""/>
									<div class="info">
										<p>【游记】玩命去西藏，西藏真玩命</p>
										<div>
											<img src="../assets/icon/eye_white.png" alt=""/><span>1987214</span>
											<img src="../assets/icon/star_white.png" alt=""/><span>8235479</span>
										</div>
									</div>
								</div>
							</div>
							<div class="journey-img mt10 clearfix">
								<div class=" img-right float-left">
									<img src="../static/images/destination_tour_img2.png" alt=""/>
									<div class="info">
										<p>侠客行——万里自驾青藏线</p>
										<div>
											<img src="../assets/icon/eye_white.png" alt=""/><span>1921874</span>
											<img src="../assets/icon/star_white.png" alt=""/><span>82397</span>
										</div>
									</div>
								</div>
								<div class="img-left float-right">
									<img src="../static/images/destination_tour_img.png" alt=""/>
									<div class="info">
										<p>神的旨意，人的冒险</p>
										<div>
											<img src="../assets/icon/eye_white.png" alt=""/><span>1987214</span>
											<img src="../assets/icon/star_white.png" alt=""/><span>8235479</span>
										</div>
									</div>
								</div>
							</div>
							<div class="journey-img mt10 clearfix">
								<div class="img-left float-left">
									<img src="../static/images/destination_tour_img.png" alt=""/>
									<div class="info">
										<p>2014西藏阿里大环线自驾游全攻略</p>
										<div>
											<img src="../assets/icon/eye_white.png" alt=""/><span>1921874</span>
											<img src="../assets/icon/star_white.png" alt=""/><span>82397</span>
										</div>
									</div>
								</div>
								<div class="img-right float-right">
									<img src="../static/images/destination_tour_img2.png" alt=""/>
									<div class="info">
										<p>【游记】玩命去西藏，西藏真玩命</p>
										<div>
											<img src="../assets/icon/eye_white.png" alt=""/><span>1987214</span>
											<img src="../assets/icon/star_white.png" alt=""/><span>8235479</span>
										</div>
									</div>
								</div>
							</div>
							<div class="journey-img mt10 clearfix">
								<div class=" img-right float-left">
									<img src="../static/images/destination_tour_img2.png" alt=""/>
									<div class="info">
										<p>侠客行——万里自驾青藏线</p>
										<div>
											<img src="../assets/icon/eye_white.png" alt=""/><span>1921874</span>
											<img src="../assets/icon/star_white.png" alt=""/><span>82397</span>
										</div>
									</div>
								</div>
								<div class="img-left float-right">
									<img src="../static/images/destination_tour_img.png" alt=""/>
									<div class="info">
										<p>神的旨意，人的冒险</p>
										<div>
											<img src="../assets/icon/eye_white.png" alt=""/><span>1987214</span>
											<img src="../assets/icon/star_white.png" alt=""/><span>8235479</span>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-xs-3">
						<div class="hotel">
							<div class="header">
								<div class="left">住宿 HOTEL</div>
								<div class="right"><a href="#">更多MORE</a></div>
							</div>
							<div class="hotel-info">
								<h5>拉萨邦达仓古酒店</h5>
								<div class="media message">
									<a class="media-left" href="#">
										<img src="../static/images/banda.png" alt="">
									</a>
									<div class="media-body">
										<p>位于八角街，靠近大昭寺旁边，早上可以去大昭寺广场感受一早的朝拜...</p>
									</div>
									<div class="loving">
										<img src="../assets/icon/star.png" alt=""/>
										<label>7687</label>
									</div>
								</div>
								<div class="line"></div>
							</div>
							<div class="hotel-info mt18">
								<h5>拉萨八宝宾馆</h5>
								<div class="media message">
									<a class="media-left" href="#">
										<img src="../static/images/guide_img3.png" alt="">
										<img class="ctibet" src="../assets/icon/ctibet_yxz.png" alt=""/>
									</a>
									<div class="media-body">
										<p>折后价3999，年底大促！0购物0自费，安心游玩。 更有玛吉阿米享用午餐等赠送自费...</p>
									</div>
									<div class="loving">
										<img src="../assets/icon/star.png" alt=""/>
										<label>7687</label>
									</div>
								</div>
								<div class="line"></div>
							</div>
							<div class="hotel-info mt18">
								<h5>拉萨八朗学旅馆</h5>
								<div class="media message">
									<a class="media-left" href="#">
										<img src="../static/images/guide_img4.png" alt="">
									</a>
									<div class="media-body">
										<p>折后价3999，年底大促！0购物0自费，安心游玩。 更有玛吉阿米享用午餐...</p>
									</div>
									<div class="loving">
										<img src="../assets/icon/star.png" alt=""/>
										<label>7687</label>
									</div>
								</div>
								<div class="line"></div>
							</div>
							<div class="hotel-info mt18">
								<h5>拉萨4-20日自由行</h5>
								<div class="media message">
									<a class="media-left" href="#">
										<img src="../static/images/guide_img5.png" alt="">
										<img class="ctibet" src="../assets/icon/ctibet_yxz.png" alt=""/>
									</a>
									<div class="media-body">
										<p>折后价3999，年底大促！0购物0自费，安心游玩。 更有玛吉阿米享用午餐等赠送自费...</p>
									</div>
									<div class="loving">
										<img src="../assets/icon/star.png" alt=""/>
										<label>7687</label>
									</div>
								</div>
								<div class="line"></div>
							</div>
						</div>
						<div class="hotel food">
							<div class="header">
								<div class="left">美食 FOOD</div>
								<div class="right"><a href="#">更多MORE</a></div>
							</div>
							<div class="hotel-info">
								<h5>光明港琼甜茶馆</h5>
								<div class="media message">
									<a class="media-left" href="#">
										<img src="../static/images/driving_right_img1.png" alt="">
										<img class="ctibet" src="../assets/icon/ctibet_yxz.png" alt=""/>
									</a>
									<div class="media-body">
										<p>位于西藏自治区拉萨市城关区丹杰林路藏医院路雪域宾馆旁拉萨最老牌的甜茶馆...</p>
									</div>
									<div class="loving">
										<img src="../assets/icon/star.png" alt=""/>
										<label>7687</label>
									</div>
								</div>
								<div class="line"></div>
							</div>
							<div class="hotel-info mt18">
								<h5>玛吉阿米西餐吧</h5>
								<div class="media message">
									<a class="media-left" href="#">
										<img src="../static/images/driving_right_img2.png" alt="">
									</a>
									<div class="media-body">
										<p>兼具了藏式建筑和良好的硬件设施，住的舒服又能感受当藏族特色。据传是仓央嘉措和...</p>
									</div>
									<div class="loving">
										<img src="../assets/icon/star.png" alt=""/>
										<label>7687</label>
									</div>
								</div>
								<div class="line"></div>
							</div>
							<div class="hotel-info mt18">
								<h5>牦牛酸奶坊</h5>
								<div class="media message">
									<a class="media-left" href="#">
										<img src="../static/images/driving_right_img3.png" alt="">
										<img class="ctibet" src="../assets/icon/ctibet_yxz.png" alt=""/>
									</a>
									<div class="media-body">
										<p>折后价3999，年底大促！0购物0自费，安心游玩。 更有玛吉阿米享用午餐等赠送自费...</p>
									</div>
									<div class="loving">
										<img src="../assets/icon/star.png" alt=""/>
										<label>7687</label>
									</div>
								</div>
								<div class="line"></div>
							</div>
							<div class="hotel-info mt18">
								<h5>雪域餐厅</h5>
								<div class="media message">
									<a class="media-left" href="#">
										<img src="../static/images/driving_right_img4.png" alt="">
										<img class="ctibet" src="../assets/icon/ctibet_yxz.png" alt=""/>
									</a>
									<div class="media-body">
										<p>折后价3999，年底大促！0购物0自费，安心游玩。 更有玛吉阿米享用午餐等赠...</p>
									</div>
									<div class="loving">
										<img src="../assets/icon/star.png" alt=""/>
										<label>7687</label>
									</div>
								</div>
								<div class="line"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- footer -->
		<div id="footer" ms-include-src="'footer/index.html'"></div>
		<script id="seajsnode" src="../modules/seajs/seajs/2.2.1/sea.js"></script>
		<script>
			// Set configuration
			seajs.config({
				alias: {
					"jquery": "jquery/1.11.1/jquery.js",
					"avalon": "avalon/1.3.7/avalon.js",
					"bootstrap/css": "bootstrap/3.3.1/css/bootstrap.min.css",
					"header/css": "../assets/css/common.css",
					"footer/css": "../assets/css/footer.css"
				}
			});
			seajs.use(['bootstrap/css', 'header/css', 'footer/css']);
			seajs.use('avalon', function(avalon) {
				avalon.define({
					$id: "indexView"
				})
			})
		</script>
	</body>

</html>