/**
* 功能：“游西藏”首页样式设置
* 日期：2014年11月29日
* 作者：weiye
**/

/**** 集体申明 ****/
/* 内容裁切 */
.all-inline, .most-inline, .less-inline { overflow: hidden }

/* 清除浮动 */
.all-inline, .most-inline { clear: both }

/* 160像素文本行高 */
.all-inline, .most-inline, .less-inline { line-height: 160px }

/* 文本居中 */
.all-inline, .most-inline, .less-inline, .less-inline-halves, .float-block { text-align: center;}

/**** 模块设置 ****/
/* 模块导航 */
.muduleIndex { width: 100%; height: auto; margin: 15px auto 20px 0;}
/* 让超链接以块状显示 */
.muduleIndex a { display: block;}
/* 整行 */
.all-inline { width: 100%; height: 160px; margin-bottom: 12px;}
/* 左面大部分，整块 */
.most-inline { width: 88%; height: 160px; margin-bottom: 12px; margin-right: 12px; float: left;}
/* 右面小部分，整块 */
.less-inline { width: auto; height: 160px; margin-bottom: 12px;}
.less-inline .mb12 { margin-bottom: 12px;} 
/* 商户管理的高度 */
.merchant { height: 848px;}
.merchant span{ line-height: 50px; margin-top: 300px; display: block;}

/*******************************************************
					  响应式设计
*******************************************************/

/* 页面水平像素小于839(iframe带滚动条，屏幕像素1024) */
@media screen and (max-width: 839px) {
    .all-inline, .most-inline, .less-inline { line-height: 120px }
    .all-inline { height: 120px;}
    .less-inline.merchant { height: 648px;}
    .less-inline.merchant .all-inline { height: 648px;}
    .merchant span{ margin-top: 220px;}
    .most-inline { width: 83%; height: 120px;}
    .less-inline { height: 120px;}
}
/* 页面水平像素840-1095(iframe带滚动条，屏幕像素1025-1280) */
@media screen and (min-width: 840px) and (max-width: 1095px) {

}
/* 页面水平像素1060-1145(屏幕像素1281-1440) */
@media screen and (min-width: 1060px) and (max-width: 1219px) {
    .all-inline, .most-inline, .less-inline { line-height: 120px }
    .all-inline { height: 120px;}
    .less-inline.merchant { height: 648px;}
    .less-inline.merchant .all-inline { height: 648px;}
    .merchant span{ margin-top: 220px;}
    .most-inline { height: 120px;}
    .less-inline { height: 120px;}
}