/* == 回复&被赞 == */
.praised{
    margin-top: 20px;
}
.praised .header{
    margin-bottom: 15px;
}
.praised .header div{
    cursor: pointer;
    float: left;
}
.praised .header .huif{
    width: 125px;
    height: 29px;
    background: url("../../icon/reply_most_noactive.png") no-repeat center center;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.praised .header .huif-active {
    background-image: url(../../icon/reply_most.png);
}
.praised .header .beiz{ 
    width: 125px;
    height: 29px;
    background: url("../../icon/zan.png") no-repeat center center;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.praised .header .beiz-active{
    background-image: url(../../icon/zan_active.png);
}
.praised .content .media {
    position: relative;
    border-bottom: 1px dashed #b3b3b3;
    margin-top: 10px;
}
.praised .content p{
    width: 150px;
    margin-bottom: 15px;
    font-size: 14px;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.praised .content .media-right{
    padding-left: 12px;
}
.praised .content .media-right label{
    width: 28px;
    margin-left: 3px;
    font-size: 12px;
    color: #898989;
    vertical-align: middle;
    white-space: nowrap;
    overflow: hidden;
}
/* == 回复&被赞 End == */

/* == 积分榜&排行榜 == */
.integral{
    margin-top: 30px;
}
.integral .header{
    margin-bottom: 15px;
}
.integral .header div{
    float: left;
    cursor: pointer;
}
.integral .header .lunt{
    width: 125px;
    height: 29px;
    background: url(../../icon/bbs_scoreboard_noactive.png) no-repeat center center;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.integral .header .lunt-active {
    background-image: url(../../icon/bbs_scoreboard.png);
}
.integral .header .post-rank{
    width: 125px;
    height: 29px;
    background: url(../../icon/post_rank.png) no-repeat center center;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.integral .header .post-rank-active{
    background-image: url(../../icon/post_rank_active.png);
}
.integral .content .media{
    margin-top: 10px;
    border-bottom: 1px dashed #b3b3b3;
}
.integral .content .media:first-child{
    margin-top: 1px;
}
.integral .content .media-left{
    padding-top: 10px;
    padding-right: 28px;
}
.integral .content .media-heading{
    width: 145px;
    white-space: nowrap;
}
.integral .content .media-heading label{
    width: 130px;
    vertical-align: middle;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;
}
.integral .content .media-body p{
    font-size: 12px;
    color: #898989;
    margin-bottom: 10px;
}
.integral .content .media-right{
    padding-left: 15px;
}
/* == 积分榜&排行榜 End == */
.adv-img,.adv-img .adv-img-two{
    margin-top: 60px;
}
.adv-img img{
    max-width: 100%;
    height: auto;
}