body{
    font-family: 'Microsoft Yahei';
    background: url("../../../static/images/register_bg.jpg") no-repeat;
    background-size: cover;
}
/* ================
    注册成功页面
==================== */
.success-main{
    width: 380px;
    height: 400px;
    margin: 160px auto 230px;
    background: url("../../icon/success_bg.png") no-repeat;
    display: block;
}
.success-main .header{
    width: 380px;
    height: 50px;
    background: url("../../icon/retrieve.png") no-repeat;
}
.success-main .success-img{
    text-align: center;
    margin: 28px 0 30px 0;
}
.success-main .content p{
    text-align: center;
    margin: 0;
}
.success-main .reg-success{
    font-size: 18px;
    font-weight: 600;
}
.success-main .content .return-home{
    margin-top: 10px;
}
.success-main .return-home span{
    font-size: 18px;
    letter-spacing: 5px;
    color: #cf1420;
}
.success-main .line{
    width: 310px;
    height: 1px;
    margin: 34px auto 0;
    background: url("../../icon/line.png") repeat-x center;
}
.success-main .into-btn{
    margin-top: 18px;
}
.success-main .into-btn a{
    display: inline-block;
    width: 130px;
    height: 42px;
    line-height: 42px;
    margin-top: 24px;
    margin-bottom: 40px;
    text-align: center;
    font-size: 18px;
    color: #fff;
    text-decoration: none;
    background: url("../../icon/success_btn_bg.png") no-repeat;
}
.success-main .portal-home{
    float: left;
    margin-left: 35px;
}
.success-main .personal-center{
    float: right;
    margin-right: 35px;
}
/* ================
    注册成功页面 End
==================== */