.index-culture{
	width: 260px;
	background: #fff url(../icon/icon_culture.png) 0 0 no-repeat;
}
.clt-other{
	position: absolute;
	top: 0;
	right: 0;
	width: 210px;
	height: 29px;
	line-height: 29px;
	background: #fff;
	text-align: right;
}
.clt-other a{
	margin-left: 20px;
	color: #333;
	font-size: 14px;
}
.clt-other a.active{
	color: #cf1423;
}
.music{
	padding-top: 25px;
}
.music-bd{
	margin-left: 78px;
	float: left;
	width: 130px;
}
.music-bd.first, .music-bd:first-child{
	margin-left: 0;
}
.music .music-photo{
	position: relative;
	display: block;
	width: 130px;
	height: 130px;
}
.music-photo img{
	max-width: 100%;
	height: auto;
}
.mp-mark{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: url(../icon/photo_mark.png) center center no-repeat;
}
.music-bd p{
	text-align: center;
	color: #333;
	font-size: 12px;
}
.music-bd p.music-name{
	margin-top: 10px;
	font-size: 14px;
}
.music-bd p.music-singer{
	margin-top: 3px;
	margin-bottom: 5px;
}
.music-score img{
	vertical-align: baseline;
}
.music-score span{
	margin-left: 5px;
}