.webuploader-container {
	position: relative;
	vertical-align: middle;
	display: inline-block;
}
.webuploader-element-invisible {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px,1px,1px,1px);
}
.webuploader-pick {
	width: 160px;
	height: 30px;
	line-height: 30px;
	position: relative;
	display: inline-block;
	cursor: pointer;
	background: #fff;
	border: 1px solid #9c9c9c;
	/*color: #fff;*/
	text-align: center;
	border-radius: 3px;
	overflow: hidden;
	cursor: pointer;
}
.webuploader-pick-hover {
	background: #f3f3f3;
}

.webuploader-pick-disable {
	opacity: 0.6;
	pointer-events:none;
}
.searchManage .webuploader-pick {
	border: 1px solid #5f0000;
}

