.riding{
    width: 1000px !important;
    font-family: "Microsoft Yahei";
    margin-top: 30px;
    padding: 0;
}
.riding .row{
    margin: 0;
}
.riding-left{
    width: 730px !important;
    padding: 0;
}
.riding-right{
    width: 250px !important;
    padding: 0;
    margin-left: 20px;
}
.riding .header{
    margin-bottom: 15px;
    position: relative;
    top: 0;
    left: 0;
    background: #fff url("../../icon/line.png") repeat-x 0 15px;
}
.riding .header .left{
    width: 255px;
    height: 29px;
    background: #fff url("../../icon/riding.png") no-repeat;
}
.riding .header .right{
    width: 90px;
    height: 29px;
    line-height: 29px;
    text-align: right;
    background-color: #fff;
    position: absolute;
    top: 0;
    right: 0;
}
.right a{
    color: #333;
}
.riding-left-img-top .img-top-left{
    width: 420px;
    height: 230px;
    float: left;
    position: relative;
    top: 0;
    left: 0;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
}
.riding-left-img-top .img-top-left>a,
.riding-left-img-top .img-top-left>a img{
    width: inherit;
    height: inherit;
    -webkit-border-radius: inherit;
    -moz-border-radius: inherit;
    border-radius: inherit;
}
.riding-left-img-top .img-top-right{
    width: 300px;
    height: 230px;
    float: right;
    position: relative;
    top: 0;
    left: 0;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
}
.riding-left-img-top .img-top-right>a,
.riding-left-img-top .img-top-right>a img{
    width: inherit;
    height: inherit;
    -webkit-border-radius: inherit;
    -moz-border-radius: inherit;
    border-radius: inherit;
}
.riding .riding-left-img-footer{
    margin-top: 10px;
}
.riding-left-img-footer .img-footer-left{
    float: left;
}
.riding-left-img-footer .img-footer-right{
    float: right;
}
.riding .header-right .left{
    width: 155px;
    height: 29px;
    background: #fff url("../../icon/food_tm.png") no-repeat;
    font-size: 18px;
    line-height: 29px;
    padding-left: 35px;
}
.riding .header-right .left p{
    width: 165px;
    margin: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.riding .header-right .right{
    width: 75px;
}
.riding .content .media-left{
    padding-right: 20px;
    outline: none;
    position: relative;
    top: 0;
    left: 0;
}
.riding .content .media-left div{
    width: 68px;
    height: 68px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
}
.riding .content .media-left div img{
    width: inherit;
    height: inherit;
    -webkit-border-radius: inherit;
    -moz-border-radius: inherit;
    border-radius: inherit;
}
.riding .content .mer-info{
    width: 115px;
    height: 50px;
    margin-top: 10px;
    font-size: 12px;
    color: #898989;
    margin-bottom: 0;
    overflow: hidden;
}
.riding .line{
    width: 100%;
    height: 10px;
    background: #fff url("../../icon/line.png") repeat-x 0 9px;
}
.riding .content .message{
    margin-top: 11px;
    position: relative;
    top: 0;
    left: 0;
}
.riding .content .loving{
    width: 50px;
    text-align: center;
    font-size: 12px;
    position: absolute;
    top: 10px;
    right: 0;
}
.riding .content .loving label{
    display: block;
    margin-top: 5px;
    margin-bottom: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.col-xs-3 .content{
    margin-top: 18px;
}
.content .ctibet{
	width: 35px !important;
	height: 37px !important;
    position: absolute;
    top: -7px;
    left: -6px;
}